*.o
*.t
*.a
*.so
*.exe
*.tlog
*.pdb
*.log
*.obj
*.user
third_party/gtest/*
/build/libgo/main/libgo_main.dir/Debug/*
/build/libgo/main/Debug/*
/build/Win32/Debug/*
/build/CMakeFiles/*
/build/Debug/*
/build/libgo/main/CMakeFiles/*
libgo/cmake_config.h
/build/.vs/libgo/v14/.suo
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/libgo.sdf
/build/libgo.VC.opendb
/build/libgo/main/cmake_install.cmake
